<main>
  <h1>ng-dramaqueen demo</h1>

  <p>
    Its only purpose is <i>making a scene</i>!
  </p>

  <mat-slider style="width: 100%;" min="10" max="60" step="1" [(value)]="lightIntensity"></mat-slider>

  <input type="color" [(ngModel)]="color1">
  <input type="color" [(ngModel)]="color2">

  <label>
    <input type="checkbox" [(ngModel)]="textured"
    >Textured
  </label>

  <div style="height: 800px;">
    <dq-scene>
      <dq-light-ambient [intensity]="0.20"></dq-light-ambient>
      <dq-light-spot
        [color]="'#ffffee'"
        [position]="{x: 3.5 * ((time * 0.0015) | cos), y: 3.5 * ((time * 0.0015) | sin), z: 4}"
        [target]="{x: -1.0 * ((time * 0.0015) | cos), y: -1.0 * ((time * 0.0015) | sin), z: -4}"
        [intensity]="lightIntensity * 0.05"
        [debug]="false"
      ></dq-light-spot>
      <dq-group [position]="{x: -3.5, y: -3.5}">
        <dq-group [position]="{x: x}" *ngFor="let x of eight">
          <dq-group [position]="{y: y}" *ngFor="let y of eight">
            <dq-cube
              (hover)="onSelect(x, y)"
              [size]="{x: 1, y: 1, z: 0.1}">
              <dq-material-color
                [color]="(y + x) % 2 ? ((x === selectedX && y === selectedY) ? '#bda166' : color1) : ((x === selectedX && y === selectedY) ? '#bda166' : color2)"
                *ngIf="!textured"
              ></dq-material-color>
              <dq-material-texture
                [color]="(y + x) % 2 ? ((x === selectedX && y === selectedY) ? '#bda166' : color1) : ((x === selectedX && y === selectedY) ? '#bda166' : color2)"
                [url]="'assets/textures/limestone.jpg'"
                *ngIf="textured"
              ></dq-material-texture>
            </dq-cube>
          </dq-group>
          <dq-group [position]="{y: y}" *ngFor="let y of [0, 1, 6, 7]">
            <dq-group
              [rotation]="{x: 0, y: 0, z: y === 0 ? 180 : 0}"
              [scale]="{x: chessPieceScale, y: chessPieceScale, z: chessPieceScale}">
              <ng-container *ngIf="y > 1 ? color2 : color1; let color">
                <dq-model
                  [color]="color" [url]="'assets/models/pawn.stl'"
                  *ngIf="(y === 1 || y === 6)"
                ></dq-model>
                <dq-model
                  [color]="color" [url]="'assets/models/rook.stl'"
                  *ngIf="(x === 0 || x === 7) && (y === 0 || y === 7)"
                ></dq-model>
                <dq-model
                  [color]="color" [url]="'assets/models/knight.stl'"
                  *ngIf="(x === 1 || x === 6) && (y === 0 || y === 7)"
                ></dq-model>
                <dq-model
                  [color]="color" [url]="'assets/models/bishop.stl'"
                  *ngIf="(x === 2 || x === 5) && (y === 0 || y === 7)"
                ></dq-model>
                <dq-model
                  [color]="color" [url]="'assets/models/queen.stl'"
                  *ngIf="(x === 3) && (y === 0 || y === 7)"
                ></dq-model>
                <dq-model
                  [color]="color" [url]="'assets/models/king.stl'"
                  *ngIf="(x === 4) && (y === 0 || y === 7)"
                ></dq-model>
              </ng-container>
            </dq-group>
          </dq-group>
        </dq-group>
      </dq-group>
    </dq-scene>
  </div>
</main>
